/*Encabezado*/
.encabezado{
    background-color: rgb(0, 42, 104);
    color: white;
    margin-left: 40px;
    margin-right: 40px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

h1{
    color: white;
    font-size: 30px;
    margin-left: 70px;
}
h2{
    color: white;
    font-size: 30px;
    margin-left: 70px; 
}

#danza{
    width: 250px;
    height: 250px;
    border-radius: 150px;
    margin-left: 60px;
}

/*Columnas*/

.contenido {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 20px;
    padding: 20px;
}

.izq {
    background-color:rgb(0, 60, 149);
    padding: 20px;
    color: white;
    margin-left: 20px;
}

.der {
    padding: 15px;
    margin-right: 40px;
}

h4{
    color: rgb(0, 42, 104);
}